<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <appSettings>
    <add key="serilog:using:Literate" value="Serilog.Sinks.Literate" />
    <add key="serilog:write-to:LiterateConsole" />
    <!--nuget:Serilog.Sinks.Seq, SEQ: getseq.net -->
    <!--<add key="serilog:using:Seq" value="Serilog.Sinks.Seq" />    
    <add key="serilog:write-to:Seq.serverUrl" value="http://localhost:5341" />
    <add key="serilog:write-to:Seq.apiKey" value="" />-->
    <add key="serilog:minimum-level" value="Verbose" />
  </appSettings>
  <akka>
    <hocon>
      <![CDATA[
					akka {
            actorsystem = "hive",

            actor { 
							provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
              
              debug {  
                receive = on 
                autoreceive = on
                lifecycle = on
                event-stream = on
                unhandled = on
              }
              
              deployment {
						    /services/broadcast {
								  router = broadcast-group
									routees.paths = [
                    "/user/services"
                    ]
									cluster {
											enabled = on
                      max-nr-of-instances-per-node = 1
                      max-total-nr-of-instances = 10000 #Issue 2266
											allow-local-routees = on
											use-role = servicediscovery
								  }
							  }
						  }                                                  
            }
            
            remote {
						  #log-remote-lifecycle-events = DEBUG
						  helios.tcp {
						    transport-class = "Akka.Remote.Transport.Helios.HeliosTcpTransport, Akka.Remote"
							  transport-protocol = tcp
							  hostname = "127.0.0.1"
							  port = 0
						  }
				    }
            
            cluster {
              seed-nodes = [
                "akka.tcp://hive@127.0.0.1:50000"
              ]
            
						  roles = [servicediscovery]
              role.servicediscovery.min-nr-of-members = 5
						}
            
            loggers = ["Akka.Logger.Serilog.SerilogLogger, Akka.Logger.Serilog"]
            loglevel = DEBUG
          }
			  ]]>
    </hocon>
  </akka>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.X509Certificates" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>